{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "semi": false,
  "quoteProps": "consistent",
  "tabWidth": 2,
  "trailingComma": "none"
}