
body {
    font-family: 'Ubuntu Medium'!important;
    color: #2C465E!important;
    background: url(../images/bg.png) no-repeat center;
    background-color:  #F7FBFF ;
}
i {
    font-style:normal;
}