@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../fonts/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: "Ubuntu-Medium";
    src: url("../fonts/Ubuntu-Medium.ttf");
}
@font-face {
    font-family: "Ubuntu-R-hinting";
    src: url("../fonts/Ubuntu-R-hinting.ttf");
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Ubuntu";
    color: #2C465E!important;
    background-color:  #F7FBFF ;
}
.new-index {
    background-size: 100% 100%;
    @apply bg-body-bg-h5 md:bg-body-bg bg-no-repeat md:bg-contain;
}
i {
    font-style: normal;
}
h2 {
    font-family:  "Ubuntu-Bold";
}


#scroll {
    @apply hidden lg:block;
}
.scroll-top {
    @apply  fixed bottom-32 right-10 cursor-pointer w-12 h-12  flex items-center justify-center;
    background: linear-gradient(180deg, #F2F7FC 0%, #FCFEFF 100%);
    box-shadow:  -5px -5px 20px 5px #FFFFFF, 3px 3px 20px 0px rgba(0, 64, 145, 0.12);
    border-radius: 50%;
    .img-box {
        img {
            @apply w-6 h-auto;
        }
    }
    &:hover {
        @apply border-grage5f border-solid border-2;
    }
}

.not-found-page {
    .not-img {
        @apply mt-[5.5rem] mx-4 lg:mx-20 xl:mx-96;
        img {
            @apply w-full h-auto;
        }
    }
}
