@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../fonts/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: "Ubuntu-Medium";
    src: url("../fonts/Ubuntu-Medium.ttf");
}

body {
    @apply bg-body-bg bg-no-repeat md:bg-contain;
    font-family: "Ubuntu";
    color: #2C465E!important;
    background-color:  #F7FBFF ;
}
i {
    font-style:normal;
}
h2 {
    font-family:  "Ubuntu-Bold";
}
