@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/Ubuntu-Bold.ttf');
}
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../fonts/Ubuntu-Medium.ttf');
}
@font-face {
  font-family: 'Ubuntu-R-hinting';
  src: url('../fonts/Ubuntu-R-hinting.ttf');
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Ubuntu';
  color: #2c465e !important;
  background-color: #f7fbff;
  -webkit-tap-highlight-color: transparent;
  a,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #2c465e;
    margin: 0;
  }
  p {
    margin: 0;
    color: #2c465e;
    font-family: 'Ubuntu';
    font-size: 16px;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
}
a:focus,
div:focus,
input:focus,
button:focus {
  outline: none;
}
.new-index {
  background-size: 100% 100%;
  @apply bg-body-bg-h5 md:bg-body-bg bg-no-repeat bg-grayf7 md:bg-contain;
}
i {
  font-style: normal;
}
h2 {
  font-family: 'Ubuntu-Bold';
}

.getnew-banner,
.container {
  max-width: 1200px;
  @apply mx-auto;
}
@media (min-width: 320px) and (max-width: 1190px) {
  .container,
  .header {
    @apply px-4;
  }
}
.ecosystem-container {
  max-width: 930px;
  @apply mx-auto;
}
@media (min-width: 320px) and (max-width: 929px) {
  .ecosystem-container {
    @apply px-4;
  }
}
@media (min-width: 320px) and (max-width: 420px) {
  .banner-mobile {
    .banner-link {
      a {
        width: 49% !important;
      }
    }
  }
}
#scroll {
  @apply hidden lg:block;
}
.scroll-top {
  @apply fixed bottom-32 right-10 cursor-pointer w-12 h-12  flex items-center justify-center;
  background: linear-gradient(180deg, #f2f7fc 0%, #fcfeff 100%);
  box-shadow: -5px -5px 20px 5px #ffffff, 3px 3px 20px 0px rgba(0, 64, 145, 0.12);
  border-radius: 50%;
  .img-box {
    img {
      @apply w-6 h-auto;
    }
  }
  &:hover {
    @apply border-grage5f border-solid border-2;
  }
}

.not-found-page {
  .not-img {
    @apply mt-[5.5rem] mx-4 lg:mx-20 xl:mx-96;
    img {
      @apply w-full h-auto;
    }
  }
}
