@tailwind base;
@tailwind components;
@tailwind utilities;

// @import 'antd/dist/antd.css';
@import 'base';
@import 'header';
@import 'modal';
@import 'footer';
@import 'banner';
@import 'home';

@import 'ecosystem';
